body, div, p, img {
    padding: 0;
    margin: 0;
}

.container {
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
    text-align: center;
    font-weight: bold;
}

.not-recognized {
    color: crimson;
    text-decoration: underline;
}

P {
    padding: 5px;
}

img {
    height: 100px;
}