body, div, p {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    color: #B1ACFF;
    font-weight: bold;
}

.container {
    text-align: center;
}

